@use '../layout';

.tagcloud {
  background-color: white;
  padding: 64px layout.$overview-inset;
  @media screen and (max-width: 600px) { padding: 20px layout.$narrow-inset; }
  > a {
    display: inline-block;
    padding: 10px;
  }
}